h1 {
	background-position-x: 35px;
	background-position-y: 50%;
	background-size: stretch;
	font-family: fantasy;
	letter-spacing: 5px;
	text-align: center;
	font-size: 10rem;
	background-image: url(assets/img.jpg);
	background-image: no-repeat;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}