body {
    margin: 0;

    background-color: rgb(9, 8, 44);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
}

.comments{
    width: 30rem;

    position: relative;
}

.comment {
    anchor-name: --comment;
}

.reply {
    anchor-name: --reply;
    anchor-scope: --reply;

    padding-top: 1rem;

    &::after{
        content: "";

        border: 0.2rem solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        border-radius: 0 0 0 1rem;

        position: absolute;
        z-index: -1;

        top: anchor(top --comment);
        left: calc(anchor(left --comment) + 1rem);
        bottom: anchor(center --reply);
        right: anchor(left --reply);
    }
}

.comment,
.reply {
    
    div{
        background-color: rgb(21, 28, 90);
        color: white;
        
        padding: 1rem;

        display: grid;
        grid-template: 
            "img name"
            "img time"
            "msg msg";
    }
    span{
        grid-area: img;

        width: 3rem;
        height: 3rem;

        background-color: blue;

        border-radius: 100rem;

        justify-content: center;
        align-content: center;
        text-align: center;
    }
    h2{
        grid-area: name;
    }
    label{
        grid-area: time;
    }
    p{
        grid-area: msg;
    }
}